body {
	margin: 0;
	background-color: lightyellow;
	font-family: "Hina Mincho", serif;
}

#header {
	background-color: lightyellow;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100vw;
}

#header-img {
	height: 70px;
	margin: auto 10px;
}

#header-title {
	margin: auto 0;
}

#header-spacer {
	height: 1px;
	width: 1px;
	margin: 0 auto;
}

#nav-bar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 100px;
	padding-right: 100px;
}

.nav-link {
	margin: auto;
	font-size: 20px;
	text-decoration: none;
	color: brown;
	font-weight: bold;
}

.nav-link:hover {
	color: darkseagreen;
}

main {
	display: flex;
	flex-direction: column;
}

#main-title {
	margin-top: 100px;
	text-align: center;
}

#form {
	display: flex;
	flex-direction: column;
}

#email {
	margin: -10px auto 10px auto;
	width: 200px;
	height: 25px;
}

#submit {
	margin: auto;
	color: white;
	background-color: indianred;
	border: 1px solid brown;
	border-radius: 3px;
	height: 30px;
	width: 90px;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}

#submit:hover {
	color: brown;
	background-color: darkseagreen;
}

#main-img {
	margin: 50px auto;
	border-radius: 10px;
}

#video {
	width: 1000px;
	margin: 0 auto 100px auto;
	border-radius: 10px;
}

@media screen and (max-width: 1100px) {
	#video {
		width: 500px;
	}
}
