body {
	height: 100vh; width: 100vw;
	margin: 0;
}

.hina-mincho-regular {
  font-family: "Hina Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

#title {
	text-align: center;
	margin-bottom: 10px;
}

#subtitle {
	text-align: center;
	margin-top: 0px;
}

#scale {
	height: 500px; width: 1000px;
	background-color: lightyellow;
	margin: auto;
}

#scale-head {
	animation: scale 10s ease-in-out infinite;
	position: relative;
	z-index: 1;
}

#scale-arms {
	margin: 0 auto;
	height: 20px; width: 750px;
	background-color: indianred;
	border-radius: 10px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
}

.scale-item {
	height: 0; width: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 125px solid brown;
	border-radius: 50px;
	position: relative; top: 10px;
	animation: items 10s ease-in-out infinite;
	transform-origin: 50% 0%;
}

#scale-item1 {
	left: -40px;
}

#scale-item2 {
	left: -90px;
}

#scale-item3 {
	left: 177px;
}

#scale-item4 {
	left: 127px;
}

#scale-body {
	margin: 0 auto;
	height: 0; width: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 250px solid lightgreen;
	position: relative; top: 250px;
	z-index: 0;
}

@keyframes scale {
	0% {
		transform: rotate(20deg);
	}
	50% {
		transform: rotate(-20deg);
	}
	100% {
		transform: rotate(20deg);
	}
}

@keyframes items {
	0% {
		transform: rotate(-19deg);
	}
	50% {
		transform: rotate(19deg);
	}
	100% {
		transform: rotate(-19deg);
	}
}
