body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/94/Theeceremonie_van_een_wasbeer-Rijksmuseum_RP-P-1995-339.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

main {
    background-color: rgb(238, 238, 238, 90%);
    border: 1px solid black;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
}

h1, .subtitle, h4, figcaption {
    text-align: center;
}

p, section {
    margin: 16px auto;
    width: 100%;
    max-width: 800px;
}

section {
    margin-bottom: 40px;
}

.image {
    display: block;
    margin: 35px auto 10px auto;
    width: 100%;
    border: 1px solid black;
}
