body {
    display: flex;
    flex-direction: row;
    background-color: rgb(248, 249, 250);
    font-size: 14px;
}
a {
    text-decoration: none;
}

/*SIDE SECTION*/
.side {
    /*background-color: indianred;*/
    height: 700px;
    width: 13%;
    margin: -10px;
    padding: 0 27px 0 0;
    display: flex;
    flex-direction: column;
}
.logo-title {
    text-align: center;
    margin: 0;
}
.logo-subtitle {
    text-align: center;
    margin: -7px 0 10px 0;
    font-style: italic;
}
.nav {
    margin: 10px 0 0 0;
    padding: 0 0 0 10px;
}
.nav-box {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(170, 170, 170);
}
.nav-item {
    margin: 5px;
    padding: 0 0 0 20px;
}

/*MAIN SECTION*/
.main {
    height: 600px;
    width: 100%;
    margin: -10px;
    padding: 0 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.bar {
    height: 40px;
    width: 100%;
}
.tabs {
    background-color: cadetblue;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.tabs-btn { /*tabs-button*/
    padding: 0 10px;
}
.title {
    background-color: darksalmon;
    height: 80px;
    width: 100%;
}
.body {
    background-color: burlywood;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.info {
    background-color: lightskyblue;
    height: 100%;
    width: 84%;
}
.text {
    background-color: lightcoral;
    width: 100%;
    padding: 0 5px 0 0;
}
.table {
    background-color: goldenrod;
    width: 50px;
}
.subtitle {
    background-color: coral;
}
.data {
    background-color: steelblue;
    height: 100%;
    width: 16%;
}
.img {
    background-color: lightyellow;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
}
.foot {
    background-color: mediumpurple;
    height: 40px;
    width: 100%;
}