body {
    background-color: rgb(249, 249, 249);
}

.page-border {
    background-color: rgb(255, 255, 255);
    margin: 35px -8px 0px 155px;
    border: 1px solid rgb(170, 170, 170);
    padding: 10px;
}

heading h1 {
    margin: 0;
    border-bottom: 1px solid rgb(170, 170, 170);
}
heading h3 {
    margin: 0.3rem 0;
    font-size: 0.8rem;
}

.page-text {
    width: 80%
}
.image {
    background-color: cadetblue;
    width: 228px;
    height: 301px;
    float: right;
}